{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
  <div id="page-wrapper">
    <div class="contain-to-grid">
      {% include partials/navbar.html %}
    </div>
  <div id="content-wrapper">
    <div id="post" class="row">
      <article class="large-12 columns" role="article">
        {% if page.title %}
        <header>
          {% if page.category %}
          <h1>
            {% if site.titlecase %}{{ page.category | titlecase }}{% else %}{{ page.category }}{% endif %}
            <small><a class="fade-to-green"  href="atom.xml"> <i class="icon-rss"></i></a></small>
          {% else %}
          <h1>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
          {% endif %}
        </header>
        {% endif %}
        {{ content }}
      </article>
      </div>
    </div>

  {% include partials/footer.html %}
  {% include after-footer.html %}
  </div>
