---
single: true
---
{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %}>
  <div id="page-wrapper">
    <div class="contain-to-grid">
      {% include partials/navbar.html %}
    </div>
  <div id="content-wrapper">
    <div id="post" class="row">
      <article class="large-12 columns" role="article">
        {% include article.html %}
        {% if site.disqus_short_name and page.comments == true %}
        <div class="row article-footer">
          <div class="large-2 columns nav-element">
            {% if page.previous.url %}
            <a class="pull-left" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; PREVIOUS</a>
            {% endif %}
          </div>
          <div class="large-8 columns comment-toggle">
            <a id="comment-toggle" class="fade-to-green" href="#">discuss this article</a>
          </div>
          <div class="large-2 columns nav-element">
            {% if page.next.url %}
            <a class="pull-right" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">NEXT &raquo;</a>
            {% endif %}
          </div>
        </div>
        <div id="comments-section" class="row">
          <div class="large-12 columns">
            <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
          </div>
        </div>
        <div id="email-capture" class="row">
          <div class="large-6 large-centered columns">
            <div class="row"><div class="large-12 columns">
              <p>Do you have a question or comment about this article? Would you like to receive relevant help for your project? Please enter your email below and I'll reach out to you.
              </p>
            </div>
            <div class="large-12 columns">
              <div id="mc_embed_signup" class="row collapse">
              <form action="http://jasonrobertfox.us6.list-manage.com/subscribe/post?u=afd137871fd8a4c39bec96979&amp;id=e4af063518" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="large-8 small-12 columns mc-field-group">
                  <input type="email" value="" name="EMAIL" class="required email radius" id="mce-EMAIL">
                  <input type="hidden" value="{{page.title}}" name="ARTICLE" class="" id="mce-ARTICLE">
                </div>
                <div class="large-4 small-12 columns mce-responses">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button postfix radius secondary">
                </div>
              </form>
                </div>
              </div>
            </div>






          </div>
        </div>

      </div>
        {% endif %}
      </article>
      </div>
    </div>
  {% include partials/footer.html %}
  {% include after-footer.html %}
  </div>
</body>
</html>
