<footer>
  <div id="contact">
    <div class="row">
      <div class="large-3 small-6 columns center">
        <a href="http://twitter.com/{{site.twitter_user}}">
          <i class="icon-twitter icon-2x"></i>
          <p>Friends follow me.</p>
        </a>
      </div>

      <div class="large-3 small-6 columns center">
        <a href="https://github.com/{{site.github_user}}/">
          <i class="icon-github-alt icon-2x"></i>
          <p>Contribute to my public projects.</p>
        </a>
      </div>

      <div class="large-3 small-6 columns center">
        <a href="http://www.linkedin.com/in/{{site.linkedin_user}}">
          <i class="icon-linkedin icon-2x"></i>
          <p>Check out my credentials.</p>
        </a>
      </div>

      <div class="large-3 small-6 columns center">
        <a href="mailto:{{ site.email }}">
          <i class="icon-envelope icon-2x"></i>
          <p>Drop me an email.</p>
        </a>
      </div>
    </div>
  </div>
  <div id="about">
    <div class="row">
      <div class="large-6 small-12 large-centered small-centered columns">
        <p>
          Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
          <span class="credit">Powered by <a href="http://octopress.org">Octopress</a>, Theme by <a href="http://neverstopbuilding.net/"> Never Stop Building </a></span>
        </p>
      </div>
    </div>
  </div>
</footer>
