---
layout: default
---

<div id="index-wrapper">
  {% include partials/hero.html %}
  <div class="contain-to-grid sticky">
    {% include partials/navbar.html %}
  </div>

    <div class="row">
    <div class="large-12 columns text-center">
      <h1>Evolutionary biologist and ecologist </h1>
      <p>  How do competitive interactions shape the ecology, population dynamics, and traits of species and communities?

        My current research focuses on the role of competition for light in vegetation in shaping:

        - the diversity of growth forms found in different locations,
        - the coordination of different traits across species, and
        - emergent properties, such as leaf area cover and carbon storage.

        I am currently employed as a post-doctoral fellow in Mark Westoby's comparative ecology lab, at Macquarie University.

        Follow these links for contact details, research activity, and publications.</p>
    </div>
</div>

  <div id="posts" class="row">
    <div class="large-12 columns">
    <h1>Recent posts</h1>
      {% assign index = true %}
      {% for post in paginator.posts %}
        {% assign content = post.content %}
        <article class="row">
          <div class="large-12 columns">
            {% include article.html %}
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</div>
