---
layout: default
---

<div id="index-wrapper">
  {% include partials/hero.html %}
  {% include partials/sub-hero.html %}
  <div class="contain-to-grid sticky">
    {% include partials/navbar.html %}
  </div>
  <div id="posts" class="row">
    <div class="large-12 columns">
      {% assign index = true %}
      {% for post in paginator.posts %}
        {% assign content = post.content %}
        <article class="row">
          <div class="large-12 columns">
            {% include article.html %}
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</div>
